<!DOCTYPE html>
<html lang='zh-cn'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>首页--登录</title>
    <link href='/css/bootstrap.css' rel='stylesheet'>
    <!--[if lt IE 9]>
    <script src='boot/js/html5shiv.min.js'></script>
    <script src='boot/js/respond.min.js'></script>
    <![endif]-->
    <style>
    .content div{
        border:1px solid #333;
        box-sizing:border-box;
        padding:20px 0;
    }
    </style>
</head>

<body>
    <nav class="nav navbar-default navbar-inverse">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">吕长杰</a></li>
                    <li><a href="#">滴滴滴</a></li>
                    <li><a href="#">滴滴滴</a></li>
                    <li><a href="#">滴滴滴</a></li>
                    <li><a href="#">滴滴滴</a></li>
                    <li><a href="#">滴滴滴</a></li>
                </ul>
            </div>
        </div>
    </nav>
   
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <h1> 欢迎你<%= uname %>,身份:<%= ptype %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <td>商品编号</td>
                        <td>商品名称</td>
                        <td>商品价格</td>
                        <td>存货数量</td>
                        <td>操作</td>
                    </tr>
                    <% for(var i = 0;i<goods.length;i++){ %>
                    <tr>
                        <td><%= goods[i]._id %></td>
                        <td><%= goods[i].gname %></td>
                        <td><%= goods[i].gprice %></td>
                        <td><%= goods[i].gcount %></td>
                        <td>
                            <a href="/toUpdateGood?gid=<%= goods[i]._id %>">修改</a>&nbsp;
                            <a href="/deleteGood?gid=<%= goods[i]._id %>">删除</a>
                        </td>
                    </tr>
                    <% } %>
                </table>
                <a href="/toGood">进货</a>
            </div>
        </div>
    </div>
</body>

</html>